@media (max-width:1000px) {
  .blue-bg {
    background-color: black
  }
  .box:first-child {
    width: 300px;
    background-color: red;
  }
  .box:last-child {
    width: 300px;
    background-color: red;
  }
  .paragrap {
    font-size: 13px;
  }
  .blue-h3 {
    font-size: 20px;
  }
}



@media (max-width:982px) {
  .article-box {
    max-width: 250px;
  }
  .article {
    width: 200px;
    height: 100px;
  }
  .light-gray-h4 {
    font-size: 15px;
  }
  .light-gray-image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .article-text {
    font-size: 10px;
    width: 120px;
  }
  .light-image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .read {
    font-size: 15px;
  }
}

@media (max-width:651px) {
  .image-box {
    max-width: 100px;
  }
  .one {
    font-size: 10px;
  }
}

@media (max-width:457px) {
  .article-box {
    width: 170px;
  }
  .light-gray-h4 {
    font-size: 10px;
  }
  .article {
    width: 170px;
  }
  .article-text {
    margin-left: 15px;
    margin-top: 10px;
    color: green;
  }
  .read {
    font-size: 10px;
  }
}
